/* Basic resets and styling for consistency */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-image: radial-gradient(white, #c0ced6, #d2e3ec);
  color: white;
}

/* Container for all content, ensuring full screen coverage and central alignment */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  height: 100vh;
  padding: 2vh 2vw;
}

/* Styling for the first logo to be on the top left */
.logo {
  position: left;
  top: 1vh;
  left: 2vw;
  width: 10vw; /* Responsive width based on viewport width */
  height: auto;
}

/* Centering the main logo with increased emphasis */
.product-logo {
  width: 25vw; /* Prominently larger and responsive */
  height: auto;
  margin-top: 0.1vh; /* Space from top of page, responsive */
  align-self: center;
}

/* Alignment of product images around the form */
.image-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: -22vh 0;
  align-items: center;
}

/* Product images styling */
.product-image-1 {
  width: 25vw; /* Responsive width based on viewport width */
  height: auto;
  margin: 0 1vw;
  margin-left: -5vw;
}

.product-image-2 {
  width: 25vw; /* Responsive width based on viewport width */
  height: auto;
  margin: 0 1vw;
  margin-right: -8vw;
}

/* Coming soon text with animation */
.coming-soon {
  font-size: 3vh; /* Using viewport height for responsive font size */
  animation: blink 2.5s linear infinite;
  color: black;
  margin-bottom: 2vh;
}

/* Blink animation keyframes */
@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* Inquiry form styling */
.inquiry-form {
  background: rgba(255, 255, 255, 0.1);
  padding: 2vh;
  border-radius: 1vh;
  width: 35vw; /* Responsive form width */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh;
  margin-right: 10vw;
  margin-left: 10vw;
}

/* Inputs and textarea styling */
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 1vh;
  margin: 1vh 0;
  border: none;
  border-radius: 0.5vh;
  background: rgba(255, 255, 255, 0.8);
}

/* Button styling */
button {
  width: 100%;
  padding: 1vh;
  background-color: #4c81af;
  border: none;
  color: white;
  border-radius: 0.5vh;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .image-row {
    flex-direction: column; /* Stack images and form vertically on small screens */
  }
  .product-image {
    width: 60%; /* Larger relative width on mobile */
    margin: 1vh auto; /* Centering images */
  }
  .inquiry-form {
    width: 80%; /* More width for better input visibility */
  }
  .logo,
  .product-logo {
    width: 20vw; /* Adjust logo size for small screens */
  }
}
