body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px 20px;
}

.logo {
    max-width: 100px;
    height: auto;
}

.nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .nav-links a {
        margin: 10px 0;
    }
}


/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .image-row {
    flex-direction: column; /* Stack images and form vertically on small screens */
    margin-top: 0; /* Adjust margin for better spacing */
  }
  .product-image-1,
  .product-image-2 {
    width: 80vw; /* Larger relative width on mobile */
    margin: 2vh auto; /* Centering images */
  }
  .inquiry-form {
    width: 90%; /* More width for better input visibility */
    margin-top: 5vh; /* Adjust margin for better spacing */
  }
  .logo,
  .product-logo {
    width: 20vw; /* Adjust logo size for small screens */
  }
}
